@model CodeRedCreations.Models.AddNewProductModel
@using System.Linq;

@{
    var query = (Context.Request.Query["section"].FirstOrDefault() == null) ? string.Empty : Context.Request.Query["section"].First().ToString();
    ViewData["Title"] = "Add New Products";
}
<h2>@ViewData["Title"]</h2>
<p class="text-success">@TempData["SuccessMessage"]</p>

<ul class="nav nav-tabs" style="margin-top: 10px;">
    <li id="tabBrand" class="@((query.ToUpper() == "BRAND") ? "active" : "")"><a data-toggle="tab" href="#addBrand">Add Brand</a></li>
    <li id="tabPart" class="@((query.ToUpper() == "PART") ? "active" : "")"><a data-toggle="tab" href="#addPart">Add Part</a></li>
    <li id="tabCar" class="@((query.ToUpper() == "CAR") ? "active" : "")"><a data-toggle="tab" href="#addCar">Add Car</a></li>
</ul>

<div class="tab-content">
    <div id="addBrand" class="tab-pane fade @((query.ToUpper() == "BRAND") ? "in active" : "")">
        <form asp-controller="Admin" asp-action="AddBrand" id="AddBrandForm" method="post" class="form-horizontal">
            <h4>Add a new brand. <span class="small pull-right"><a asp-area="" asp-controller="Admin" asp-action="AddProduct" asp-route-section="BRAND">+ Add New</a></span></h4> 
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand.Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Brand.Name" class="form-control" />
                    <span asp-validation-for="Brand.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Brand.Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea rows="10" asp-for="Brand.Description" class="form-control"></textarea>
                    <span asp-validation-for="Brand.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Add New Brand</button>
                </div>
            </div>
        </form>
    </div>

    <div id="addPart" class="tab-pane fade @((query.ToUpper() == "PART") ? "in active" : "")">
        <form asp-controller="Admin" asp-action="AddPart" id="AddPartForm" method="post" class="form-horizontal" enctype="multipart/form-data">
            <h4>Add a new part. <span class="small pull-right"><a asp-area="" asp-controller="Admin" asp-action="AddProduct" asp-route-section="PART">+ Add New</a></span></h4> 
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Part.PartId" hidden="hidden" class="hidden" />
            <div class="form-group">
                <label asp-for="Part.Brand" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Part.Brand.BrandId" class="form-control selectpicker" data-show-subtext="true" data-live-search="true">
                        @foreach (var brand in Model.Brands)
                        {
                            <option value="@brand.BrandId">@brand.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Part.PartNumber" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Part.PartNumber" class="form-control" />
                    <span asp-validation-for="Part.PartNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Part.Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Part.Name" class="form-control" />
                    <span asp-validation-for="Part.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Part.Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Part.Description" class="form-control" spellcheck="true" rows="5"></textarea>
                    <span asp-validation-for="Part.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Part.PartType" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Part.PartType" asp-items="Html.GetEnumSelectList<CodeRedCreations.Models.PartTypeEnum>()" class="form-control selectpicker" data-show-subtext="true" data-live-search="true"></select>
                    <span asp-validation-for="Part.PartType" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Part.CarProducts" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <select id="CompatibleCarIds" name="CompatibleCarIds" multiple class="form-control selectpicker" data-show-subtext="true" data-live-search="true">
                        @foreach (var item in Model.Cars.OrderBy(x => x.Make).ThenBy(x => x.Model))
                        {
                            if (Model.Part.CarProducts != null && Model.Part.CarProducts.FirstOrDefault(x => x.CarId == item.CarId) != null)
                            {
                                <option selected="selected" value="@item.CarId">@item.Make - @item.Model</option>
                            }
                            else
                            {
                                <option value="@item.CarId">@item.Make - @item.Model</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Part.CarProducts" class="text-danger"></span>
                </div>
                <div class="col-md-5">
                    <input asp-for="Part.Years" class="form-control" placeholder="Car Years" />
                    <span asp-validation-for="Part.Years" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Part.Price" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Part.Price" class="form-control" />
                    <span asp-validation-for="Part.Price" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Part.Shipping" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Part.Shipping" class="form-control" />
                    <span asp-validation-for="Part.Shipping" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label title="Images" class="col-md-2 control-label">Images (@((Model.Part.Images == null) ? 0 : Model.Part.Images.Count()))</label>
                <div class="col-md-10">
                    <input name="Images" type="file" multiple class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <button type="submit" class="btn btn-default">Upsert Product</button>
                </div>
                <div class="col-md-4">
                    @if (Model.Part != null)
                    {
                        <a class="pull-right btn btn-default" asp-controller="Admin" asp-action="NewSimilarProduct" asp-route-id="@Model.Part.PartId">+ New Similar Product</a>
                    }
                </div>
            </div>
        </form>
    </div>

    <div id="addCar" class="tab-pane fade  @((query.ToUpper() == "CAR") ? "in active" : "")">
        <form asp-controller="Admin" asp-action="AddCar" id="AddCarForm" method="post" class="form-horizontal">
            <h4>Add a new car. <span class="small pull-right"><a asp-area="" asp-controller="Admin" asp-action="AddProduct" asp-route-section="CAR">+ Add New</a></span></h4> 
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input hidden="hidden" class="hidden" asp-for="NewCar.CarId" />
            <div class="form-group">
                <label asp-for="NewCar.Make" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="NewCar.Make" class="form-control" />
                    <span asp-validation-for="NewCar.Make" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="NewCar.Model" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="NewCar.Model" class="form-control" />
                    <span asp-validation-for="NewCar.Model" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Add New Car</button>
                </div>
            </div>
        </form>
    </div>
</div>