@model IEnumerable<CodeRedCreations.Models.PromoModel>

@{
    ViewData["Title"] = "Manage Promo Codes";
}
<h2>@ViewData["Title"]</h2>
<p>There are: @Model.Count() promo codes.</p>
<p>There are: @Model.Where(x => x.Enabled).Count() enabled promo codes.</p>


<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Promo Code</th>
            <th>Applicable Parts</th>
            <th>Discount Percentage</th>
            <th>Discount Amount</th>
            <th>Expiration Date</th>
            <th class="text-center">Times Used</th>
            <th class="text-center">Enabled Status</th>

            <th></th>
            <th class="text-right"><a asp-controller="Admin" asp-action="UpsertPromo">+</a></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var code in Model)
        {
            <tr class="@((code.Enabled) ? "success" : "")">
                <td>@code.Id</td>
                <td>@code.Code</td>
                <td>
                    @if (code.ApplicableParts != null && code.ApplicableParts.Count > 0)
                    {
                        <ol>
                            @foreach (var part in code.ApplicableParts)
                            {
                                <li>@part.Name</li>
                            }
                        </ol>
                    }
                    else
                    {
                        <span>Global Code</span>
                    }
                </td>
                <td>@((code.DiscountPercentage != null) ? $"{code.DiscountPercentage}%" : "N/A")</td>
                <td>@((code.DiscountAmount != null) ? $"${code.DiscountAmount}" : "N/A")</td>
                <td>@((code.ExpirationDate != null) ? $"{code.ExpirationDate.Value.ToLocalTime().Date}" : "N/A")</td>
                <td class="text-center">
                    @code.TimesUsed 
                    @if (code.UsageLimit != null)
                    {
                        <span> / @code.UsageLimit</span>
                    }
                </td>

                <td class="text-center">
                    <a asp-controller="Admin" asp-action="TogglePromo" asp-route-id="@code.Id">@(code.Enabled ? "Disable" : "Enable")</a>
                </td>
                <td class="text-center">
                    <a asp-controller="Admin" asp-action="UpsertPromo" asp-route-id="@code.Id">Edit</a>
                </td>
                <td class="text-center">
                    <a asp-controller="Admin" asp-action="DeletePromo" asp-route-id="@code.Id" onclick="return confirm('Are you sure you want to delete this promo?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>