@model List<CodeRedCreations.Models.BrandModel>
@{
    ViewData["Title"] = "Manage Products";
}
<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["SuccessMessage"]</p>
<a asp-area="" asp-controller="Admin" asp-action="AddProduct">+ Add New Product</a>

<div class="row">
    <div class="col-md-4">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @item.Name 
                    <span class="pull-right"><a asp-controller="Admin" asp-action="AddProduct" asp-route-id="@item.BrandId" asp-route-section="BRAND">Edit</a></span>
                    @if (item.Parts != null)
                    {
                        <ul>
                            @foreach (var part in item.Parts)
                            {
                                <li>@part.Name <span class="pull-right"><a asp-controller="Admin" asp-action="AddProduct" asp-route-id="@part.PartId" asp-route-section="PART">Edit</a> | <a asp-controller="Admin" asp-action="DeletePart" asp-route-id="@part.PartId" onclick="return confirm('Are you sure you want to delete: @part.Name?');">Delete</a></span></li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>
</div>