@model CodeRedCreations.Models.BrandModel
@using CodeRedCreations.Methods
@{
    ViewData["Title"] = "Manage Products";
}
<h2>@ViewData["Title"]</h2>
<a asp-area="" asp-controller="Admin" asp-action="AddProduct">+ Add New Product</a>
<a class="pull-right" asp-area="" asp-controller="Admin" asp-action="AdjustShipping">Adjust All Shipping</a>
<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive table-hover table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th colspan="2">Name</th>
                    <th>Price/Shipping</th>
                    <th></th>
                    <th class="text-right"><a asp-controller="Admin" asp-action="AddProduct" asp-route-section="PART">+</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products.OrderBy(x => x.Name))
                {
                    var cars = product.CarProducts.Where(x => x.ProductId == product.PartId).Select(x => x.Car);
                    <tr>
                        <td>@product.PartId</td>
                        <td><img id="@product.PartId" class="img-responsive product-image" src="~/images/Logo-small-text.png" width="100" data-url="@Url.Action("GetProductImageAsync", "Parts")" /></td>
                        <td>
                            @product.Name (@product.PartType)
                            <ul class="small">
                                @foreach (var car in cars)
                                {
                                    <li>
                                        @car.Make @car.Model: @product.Years
                                    </li>
                                }
                            </ul>

                            <form asp-controller="Admin" asp-action="OnSale" method="post" class="form-inline">
                                <input asp-for="@product.PartId" hidden="hidden" class="hidden" />
                                <div class="form-group">
                                    <input type="checkbox" asp-for="@product.OnSale" />
                                </div>
                                <div class="form-group">
                                    <input type="number" asp-for="@product.SalePercent" class="form-control" placeholder="Sale Percent" />
                                </div>
                                <div class="form-group">
                                    <input type="number" asp-for="@product.SaleAmount" class="form-control" placeholder="Sale Amount" />
                                </div>
                                <div class="form-group">
                                    <input asp-for="@product.SaleExpiration" class="form-control datepicker" value="@((product.SaleExpiration.HasValue) ? product.SaleExpiration.Value.ToLocalTime().ToString("MM/dd/yyyy") : "") " />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Set Sale</button>
                                </div>
                            </form>
                        </td>
                        <td>@product.Price.ToString("C2") <p>+@product.Shipping.ToString("C2") s/h</p></td>
                        <td><a asp-controller="Admin" asp-action="AddProduct" asp-route-id="@product.PartId" asp-route-section="PART">Edit</a></td>
                        <td><a class="pull-right" asp-controller="Admin" asp-action="DeletePart" asp-route-id="@product.PartId" onclick="return confirm('Are you sure you want to delete: @product.Name?');">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>